@import "../placeholders/placeholders";
@import "../base/variables";

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  height: 70px;
  width: 100%;
  padding: 0 150px;
  background: $secondary-color;
  z-index: 1000;
}

.title{
  @extend %custom-font;
  font-size: 1.5rem;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.navbar {
  z-index: 1000;
  display: flex;
  background-color: transparent;

  ul {
    display: flex;
    @extend %flex-center;
    gap: 40px;
    list-style: none;
    padding: 0;
    margin: 0;

    .user {
      color: white;
      border: none;
    }

    a {
      color: white;
      border: 2px solid white;
      position: relative;
      transition: opacity 0.3s ease;
      border-radius: 25px;
      padding: 10px;
      cursor: pointer;
      text-decoration: none;

      li {
        color: white;
        font-weight: bold;
        text-transform: uppercase;
        transition: color 0.3s;
      }

      &:hover {
        background-color: $primary-color;
      }
    }

  }
}

@media (max-width: 1100px) {
  .navbar {
    display: none;
  }

  .bottom-nav {
    position: fixed;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    background: rgba(0, 0, 0, 0.9);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 1000;

    ul {
      display: flex;
      width: 100%;
      justify-content: space-around;
      list-style: none;
      padding: 0;
      margin: 0;
    }

    li {
      padding: 10px;
      border-radius: 50%;
      transition: background 0.3s ease-in-out;

      &:hover {
        background: rgba(255, 255, 255, 0.2);
      }

      a {
        color: white;
        font-size: 1.5rem;
      }
    }
  }
}