@import "../base/variables";

.presentation {
  min-height: 100vh;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: $text-color;
  
  .presentation-content {
    h1 {
      font-size: 2.5rem;
      font-weight: bold;
    }
    p {
      font-size: 1.2rem;
      margin-top: 10px;
    }
  }
}