@import "../placeholders/placeholders";

.mainSection {
  @extend %flex-center;
  @extend %flex-column;
  background-color: white;
  color: #333;
  margin: 25px;
  border-radius: 10px;

  h2 {
    margin: 20px;
    color: #007bff;
  }
}