@import "../placeholders/placeholders";

.mainSection {
  @extend %flex-center;
  @extend %flex-column;
  margin: 25px;
  border-radius: 10px;

  h2 {
    margin: 20px;
  }
}

@media screen and (max-width: 1024px) {
  .mainSection {
    margin: 10px;
    margin-bottom: 30px;
  }
  #presentation {
    margin: 0;
    border-radius: none;
  }
}