* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  color: #333;
}

h1, h2, h3 {
  color: #007bff;
}

:root {
  --bg-color: hsl(220, 80%, 20%);
}

.background-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--bg-color);
  z-index: -1;
  transition: background-color 0.5s ease-in-out;
}

button {
  border: none;
  cursor: pointer;
}

.mainSection, .projects {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainSection, .projects {
  display: flex;
  flex-direction: column;
}

.title {
  font-family: "Anton", serif;
  font-weight: 400;
  font-style: normal;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #333;
  color: white;
  text-align: center;
  padding: 15px;
}

.mainSection, .projects {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainSection, .projects {
  display: flex;
  flex-direction: column;
}

.title {
  font-family: "Anton", serif;
  font-weight: 400;
  font-style: normal;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  height: 70px;
  width: 100%;
  padding: 0 150px;
  background: black;
  z-index: 1000;
}

.title {
  font-size: 1.5rem;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.navbar {
  z-index: 1000;
  display: flex;
  background-color: black;
}
.navbar ul {
  display: flex;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}
.navbar li {
  position: relative;
  transition: opacity 0.3s ease;
}
.navbar li .indicator {
  position: absolute;
  left: -10px;
  top: 50%;
  transform: translateY(-50%);
  width: 6px;
  height: 6px;
  background: white;
  border-radius: 50%;
  opacity: 1;
  transition: opacity 0.3s ease, left 0.3s ease;
}
.navbar li.active .indicator {
  left: -15px;
}
.navbar li:not(.active) .indicator {
  opacity: 0;
}
.navbar li a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  transition: color 0.3s;
}
.navbar li a:hover {
  color: #ff9800;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 50%;
  height: 500px;
  max-width: 600px;
  text-align: center;
  position: relative;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
.modal-content h2 {
  font-size: 1.8rem;
  margin-bottom: 10px;
}
.modal-content p {
  font-size: 1rem;
  color: #333;
}
.modal-content img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 30px;
  height: 30px;
  border-radius: 8px;
}
.modal-content a {
  display: inline-block;
  margin-top: 10px;
  padding: 10px;
  background: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.modal-nav {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}
.modal-nav button {
  background: #007bff;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background 0.3s ease;
}
.modal-nav button:hover {
  background: #0056b3;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.presentation {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #f8f9fa;
  color: #333;
}
.presentation .presentation-content h1 {
  font-size: 2.5rem;
  color: #007bff;
  font-weight: bold;
}
.presentation .presentation-content p {
  font-size: 1.2rem;
  margin-top: 10px;
}

.technologies {
  height: 80%;
  padding: 80px 20px;
  text-align: center;
}
.technologies .tech-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin: 50px;
}
.technologies .tech-list .itemTech {
  width: 33%;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.5s ease-in-out;
}
.technologies .tech-list .itemTech:hover {
  background-color: #0056b3;
}
.technologies .tech-list img {
  height: 100px;
  color: white;
}

.mainSection, .projects {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainSection, .projects {
  display: flex;
  flex-direction: column;
}

.title {
  font-family: "Anton", serif;
  font-weight: 400;
  font-style: normal;
}

.projects {
  text-align: center;
  padding: 50px 0;
  height: 90%;
}
.projects h2 {
  font-size: 2rem;
  color: #007bff;
}
.projects .project-slider {
  position: relative;
  width: 80%;
  overflow: hidden;
}
.projects .project-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.projects .project-header {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  padding: 10px;
}
.projects .project-header .project-icon {
  width: 100px;
  height: auto;
  cursor: pointer;
}
.projects .project-button {
  background: none;
  border: none;
  cursor: pointer;
  width: 100%;
  max-width: 100%;
  display: block;
}
.projects .project-button img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
.projects .nav-button {
  position: absolute;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
}
.projects .nav-button .chevron {
  font-size: 50px;
}
.projects .nav-button:hover {
  background: grey;
}
.projects .nav-button.left {
  left: 100px;
}
.projects .nav-button.right {
  right: 100px;
}
.projects .modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}
.projects .modal .modal-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 90%;
  max-width: 600px;
  position: relative;
}
.projects .modal .modal-icon {
  width: 80px;
  height: auto;
  margin-bottom: 15px;
}
.projects .modal .modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.contact {
  text-align: center;
  padding: 80px 20px;
}
.contact form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: auto;
  gap: 10px;
}
.contact form input, .contact form textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.contact form button {
  background: #007bff;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.contact form button:hover {
  background: #0056b3;
}

.mainSection, .projects {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainSection, .projects {
  display: flex;
  flex-direction: column;
}

.title {
  font-family: "Anton", serif;
  font-weight: 400;
  font-style: normal;
}

.mainSection {
  background-color: white;
  color: #333;
  margin: 25px;
  border-radius: 10px;
}
.mainSection h2 {
  margin: 20px;
  color: #007bff;
}/*# sourceMappingURL=main.css.map */